.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.signup-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1),
            0 -4px 4px rgba(0, 0, 0, 0.1),
            4px 0 4px rgba(0, 0, 0, 0.1),
            -4px 0 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  position: relative;
  overflow: hidden;
  
  .signup-title {
    text-align: center;
  }

  .signup-subtitle {
    text-align: center;
    overflow: hidden;
    white-space: nowrap; // 텍스트가 한 줄로 유지되도록 합니다.
    width: 100%;
    animation: slideText 10s linear infinite;
    transform: translateY(-50%);
    color: #666;
    margin-top: 5px;
    font-size: 0.9rem;

  }
  
  @keyframes slideText {
    0% {
      left: 100%; // 시작 지점
    }
    100% {
      left: -100%; // 끝 지점
    }
  }

  .signup-form {
    display: flex;
    flex-direction: column;
    
    .signup-input {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 15px;
      font-size: 0.9rem;
    }

    .signup-question {
      text-align: center;
      margin-bottom: 20px;
      font-size: 0.9rem;
    }

    .signin-link {
      color: #4682B4; // Or the color of your choice
      text-decoration: none; // Removes the underline from links
    
      &:hover {
        text-decoration: underline; // Adds an underline on hover
      }
    }

    .signup-button,
    .kakao-signup {
      border: none;
      border-radius: 5px;
      padding: 12px;
      margin-bottom: 10px;
      cursor: pointer;
      transition: background 0.3s ease;
    }

    .signup-button {
     background: linear-gradient(to right, #4682B4, darken(#4682B4, 10%)); // Start and end with the same color, but darken the end for effect
      border: none;
      border-radius: 5px;
      padding: 10px;
      color: white;
      cursor: pointer;
      margin-bottom: 10px;
      transition: background 0.3s ease; // Optional: for a smooth transition on hover
      
      &:hover {
        background: linear-gradient(to right, darken(#4682B4, 5%), darken(#4682B4, 15%)); // Darken the gradient on hover
      }
    }  

    .kakao-signup {
      background: #fee500;
      color: black;
      border: none;
      border-radius: 5px;
      padding: 10px;
      cursor: pointer;
      }
    }
  }

