ul, ol, li{list-style: none;}

.lecture{
  max-width: 100%;

  .lecture-container{
    display: flex; // Flex 컨테이너 활성화
    justify-content: center; // 가로 방향으로 중앙 정렬
    align-items: center; // 세로 방향으로 중앙 정렬
    background-color: #002333; /* 어두운 배경색 */

    .lecture-container2 {
      display: flex; // Flex 컨테이너 활성화
      align-items: center; // 세로 방향으로 중앙 정렬
      width: 1200px;


    .lecture-information {
      display: flex;
      color: white; /* 가독성을 위한 밝은 텍스트 색상 */
      margin-top: 20px;
      margin-bottom: 20px; /* 카드 간의 여백 */
    }
    
    /* 강의 이미지 스타일 */
    .lecture-image {
      position: relative;
      overflow: hidden;
      width: 100%;
      max-width: 473.33px;
      height: inherit;
      border-radius: 8px;
      aspect-ratio: 100/65.088;
    }
    
    /* 이미지 옆 상세 정보 섹션 컨테이너 */
    .lecture-information-details {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* 항목들을 시작점으로 정렬 */
      max-width: 60%; /* 공간을 더 주기 위해 최대 너비를 제한 */
      padding: 0 0 0 32px;
    }

    .lecture-category{
      margin-top: 20px;
    }
    
    /* Styles for the lecture title */
    .lecture-title {
      line-height: 1.5;
      letter-spacing: -.3px;
      color: #fff;
      font-weight: 700;
      font-size: 26px;
      word-break: break-word;
      margin-bottom: 20px;
    }
    
    /* Styles for the lecture rating and rating count */
    .lecture-rating-details {
      display: flex;
      align-items: center; /* Align the stars and the rating count */
      margin-bottom: 20px; /* Space between this and the next section */
    }
    
    /* Adjust the star rating size if needed */
    .lecture-rating {
      /* Add specific styles for the star ratings component if needed */
    }
    
    .lecture-rating-count {
      font-size: 0.9em; /* Slightly larger font size for the rating count */
      color: #666; /* Gold color for the rating count */
      margin-left: 5px; /* Space between the rating stars and count */
    }
    
    /* Styles for the lecture instructor's name */
    .lecture-instructor {
      line-height: 1.43;
      letter-spacing: -.3px;
      font-size: 14px;
      margin-right: 8px;
      color: #fff;
      text-decoration: underline;
      font-weight: 700;
      margin-bottom: 20px;

      .instructor-icon{
        margin-right: 5px;
      }
    }

    .lecture-subcategory{
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px;
    padding: 4px 12px;
    border-radius: 100px;
    background-color: #173f51;
    color: #fff;
    font-weight: 500;
    }
    
    /* Styles for the lecture price */
    .lecture-price {
      font-size: 1.5em; /* Larger font size for the price */
      font-weight: bold;
      color: #00FF00; /* Bright color for the price */
    }
    
    /* Styles for the lecture time */
    .lecture-time {
      line-height: 1.43;
      letter-spacing: -.3px;
      font-size: 14px;
      font-weight: 400;
      display: flex;
      align-items: center;
      color: #fff;
    }
    
/* 반응형 조정 */
@media (max-width: 768px) {
  .lecture-information {
    flex-direction: column;
    align-items: center;
  }

  .lecture-image {
    margin-right: 0; /* 작은 화면에서 오른쪽 여백 없앰 */
    margin-bottom: 20px; /* 이미지와 상세 정보 간의 여백 */
  }

  .lecture-information-details {
    align-items: center; /* 작은 화면에서 상세 정보를 중앙 정렬 */
    max-width: 100%; /* 상세 정보가 전체 너비를 차지하도록 허용 */
     }
    }
  }
}

  .lecture-card {
    border-bottom: 1px solid #f1f3f5;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 높이는 사진에 맞게 조절 */
    
    .lecture-card-button {
      display: flex; /* Flexbox를 사용하여 내부 요소들을 가로로 나열 */
      padding-left: 0; /* 기본 ul의 패딩 제거 */
      margin: 0;
      list-style: none;
      width: 100%;
      justify-content: space-evenly;
  
      li {
        padding: 10px 0px; /* 내부 패딩 */
        margin: 0 20px; /* 좌우 마진으로 요소들 사이의 간격 조정 */
        cursor: pointer; /* 마우스 커서를 포인터로 변경 */
        transition: background-color 0.3s; /* 배경색 변경에 대한 트랜지션 적용 */
        text-align: center; /* 텍스트 중앙 정렬 */
        position: relative;
        
        &.active {
          color: #1b1c1d;
          font-weight: 700;

          a {
            color: #1b1c1d; /* 활성화된 a 태그의 텍스트 색상 변경 */
          }
        
          &::after {
            content: '';
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #1b1c1d; /* 활성 탭의 밑줄 색상 */
          }
        }
        
        a {
          text-decoration: none;
          color: #abb0b5;
          font-size: 1rem;
          font-weight: 400;
  
          &:hover {
            color: #000;
          }
        }
      }
    }
  }
  

  .wrapper-container {
    display: flex; /* Flex 컨테이너를 활성화 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: flex-start; /* 세로 시작점 정렬 */
    max-width: 1240px; /* 최대 너비 설정 */
    margin: auto; /* 자동 마진으로 중앙 정렬 */
    padding: 20px;

    .left-wrapper {
      padding-left: 0;
      padding-right: 0;
      flex-basis: 65.666667%;
      max-width: 65.666667%;

      .left-wrapper-container{
        max-width: 702px;
        padding: 0 20px;
      
        hr.section-divider {
          max-width: 100%;
          width: 100%;
          height: 1px;
          background-color: #e9ecef;
          margin: 42px 0;
          border: none; // 기존 hr의 border를 제거
        }

        .lecture-details-introcuction {
          margin-bottom: 50px; /* 아래쪽 여백 */

        
          .lecture-details-title {
            color: #333; /* 제목 색상 */
            margin-bottom: 16px; /* 제목과 내용 사이의 여백 */
            font-size: 1.5rem; /* 제목 폰트 크기 */
          }
        
          .lecture-details-introcuction-content {
            color: #666; /* 내용 색상 */
            font-size: 1rem; /* 내용 폰트 크기 */
            line-height: 1.6; /* 줄 간격 */
            
            div {
              margin-bottom: 10px; /* 문장 간 여백 */
              &:last-child {
                margin-bottom: 0; /* 마지막 문장의 여백 제거 */
              }
            }
          }
        }

        .lecture-details-title {
          color: #333; /* 제목 색상 */
          margin-bottom: 16px; /* 제목과 내용 사이의 여백 */
          font-size: 1.5rem; /* 제목 폰트 크기 */
        }

        .instructor-comment{
          color: #666; /* 내용 색상 */
          font-size: 0.875rem; /* 내용 폰트 크기 */
          line-height: 1.6; /* 줄 간격 */
        }

        .lecture-details-instructor {
          display: flex; /* Use flexbox to position children */
          align-items: center; /* Align children vertically in the center */
          margin-bottom: 50px; /* Space below the instructor section */
          text-align: left; /* Align text to the left */

          .lecture-details-instructor-content {
            display: flex;
            flex-direction: column; /* Stack content vertically */
            margin-right: 20px; /* Space between the content and the image */
          }

            .instructor-name-greeting {
              color: #333; /* 텍스트 색상 */
              font-size: 1.25rem; /* 텍스트 크기 */
              margin-bottom: 8px; /* 이름과 인사말 사이의 여백 */
              display: block; /* 블록 레벨 요소로 변경 */
            }
          
            .instructor-name {
              display: flex; /* 인사말과 이름을 수평 정렬 */
              align-items: baseline; /* 텍스트 베이스라인 정렬 */
              font-size: 1.25rem; /* 이름 텍스트 크기 */
          
              .instructor-name-bold {
                font-weight: bold; /* 이름 볼드 처리 */
                margin-right: 4px; /* 이름과 "입니다" 사이의 여백 */
              }
            }        
          
            .instructor-image {
              margin-left: auto; /* Push the image to the right */
              width: 120px; /* Width of the image */
              height: 120px; /* Height of the image */
              border-radius: 50%; /* Make the image round */
              overflow: hidden; /* Ensure the image fits within the border-radius */

              img {
                width: 100%;
                height: 100%;
              }
            }
      
          .instructor-description {
            color: #666; /* 내용 색상 */
            font-size: 0.875rem; /* 내용 폰트 크기 */
            line-height: 1.6; /* 줄 간격 */
            margin-top: 20px;
        
            div {
              margin-bottom: 10px; /* 문장 간 여백 */
              &:last-child {
                margin-bottom: 0; /* 마지막 문장의 여백 제거 */
              }
            }
          }
        }

        .curriculum-container {
          margin-bottom: 30px; /* Add some space below the container */
        }

        .lecture-details-header {
          display: flex;
          align-items: flex-end;
        }
        
        .lecture-details-title {
          font-size: 1.5rem; /* Set the size for the curriculum title */
          margin-bottom: 16px; /* Space below the title */
          color: #333; /* Title text color */
          margin-right: 5px;
        }
        
        .lecture-details-title-count {
          font-size: 1rem; /* Set the size for the lecture count */
          color: #666; /* Lecture count text color */
          display: flex; /* Use flex layout */
          align-items: center; /* Align items vertically */
          margin-bottom: 1rem; /* Space below the lecture count */
        }

        .circle-icon {
          margin-right: 5px; /* 아이콘 오른쪽 여백 */
          font-size: 5px;
          margin-left: 5px;
        }

        .curriculum-description {
          color: #666; /* 내용 색상 */
          font-size: 0.875rem; /* 내용 폰트 크기 */
          line-height: 1.6; /* 줄 간격 */
        }
        
        ul.curriculum-list {
          padding-left: 0;
          margin: 0;
          list-style: none;
          border-radius: 4px;
          border: 1px solid #e6e6e6;
          margin-top: 20px;
        
          .dropdown {
            border-bottom: 1px solid #f1f3f5;
        
            &:last-child {
              
            }
        
            .menu-header {
              cursor: pointer;
              padding: 15px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              background-color: #f8f9fa;
              transition: background-color 0.3s;
        
              &:hover {
                background-color: #f0f0f0;
              }
        
              .menu-title {
                line-height: 1.47;
                letter-spacing: -.3px;
                font-size: 15px;
                color: #343a40;
                font-weight: 700;
                
              }
        
              svg {
                transition: transform 0.3s;
              }
            }
        
            ul.dropdown-content {
              padding-inline-start: 0;
              background-color: #fff;
              &.active {
                display: block;
              }
        
              li {
                display: flex;
                align-items: center;
                padding: 15px;
                border-top: 1px solid #f1f3f5;
                font-weight: 400;
                line-height: 1.47;
                letter-spacing: -.3px;
                font-size: 15px;
                color: #495057;
                align-items: center;

                svg {
                  margin-right: 10px;
                }
              }
            }
          }
        }
        // When menu is open, rotate chevron up icon
        .GoChevronUp {
          transform: rotate(-180deg);
        }
        
        .lecture-details-comment {
          margin-bottom: 30px; /* Add some space below the container */
        }

        .lecture-details-header {
          display: flex;
          align-items: baseline; /* Align children baselines */
        }
        
        .lecture-details-title {
          font-size: 1.5rem; /* Set the size for the curriculum title */
          margin-bottom: 16px; /* Space below the title */
          color: #333; /* Title text color */
          margin-right: 5px;
        }
        
        .lecture-details-sum-count {
          font-size: 1rem; /* Set the size for the lecture count */
          color: #666; /* Lecture count text color */
          display: flex; /* Use flex layout */
          align-items: center; /* Align items vertically */
          margin-bottom: 1rem; /* Space below the lecture count */
        }

        .comment-description {
          color: #666; /* 내용 색상 */
          font-size: 0.875rem; /* 내용 폰트 크기 */
          line-height: 1.6; /* 줄 간격 */
        }

        .rating-dashboard {
          display: flex;
          height: 180px;
          margin-top: 10px;
          margin-bottom: 20px;
        }
        
        .star-ratings-dashboard {
          margin-right: 6px;
          flex: 1;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          border-radius: 4px;
          border: 1px solid #e9ecef;
        }
        
        .star-ratings-num {
          font-size: 2.5rem;
          color: #333;
        }
        
        .star-ratings-star {
          /* Add styles for your star rating component */
        }
        
        .star-ratings-text {
          margin-top: 8px;
          font-size: 1rem;
          color: #666;
        }
        
        .graph-ratings {
          flex: 2;
          width: 100%;
          padding: 0 20px;
          border-radius: 4px;
          border: 1px solid #e9ecef;
        }
        
        .rating-bar-container {
          display: flex;
          align-items: center;
          margin: 10px 0;
        }
        
        .rating-label {
          margin-right: 10px;
          font-size: 1rem;
          color: #333;
        }
        
        .rating-bar {
          flex-grow: 1;
          height: 10px;
          background-color: #eaeaea;
          border-radius: 5px;
          overflow: hidden;
        }
        
        .rating-fill {
          height: 100%;
          background-color: #ffc107; /* Example color for the filled part */
          border-radius: 5px;
        }

        .lecture-details-comment-content {
          display: flex;
          flex-direction: column;
          gap: 1rem; /* Adjust the space between comments */
        }
        
        .comment-userInfo {
          display: flex;
          flex-direction: column; /* Stack vertically */
          align-items: flex-start; /* Align items to the start of the flex-direction */
          background-color: #fff;
          border-bottom: 1px solid #e9ecef;
          border-radius: 4px;
          padding: 16px;
          gap: 8px; /* Adjust the space between the elements */

        }
        
        .comment-userImage {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          border: 1px solid #dee2e6;
          align-self: center; /* Center the image if needed */
          margin-right: 5px;
        }
        
        .comment-header {
          display: flex;
          justify-content: space-between; /* Space between nickname and date */
        }
        
        .comment-userInfo-content {
          display: flex;
          flex-direction: column; /* Stack items vertically */
          justify-content: center; /* Center items vertically */
          margin-left: 8px; /* Add space between the image and the text */
        }
        
        .comment-userNickname {
          font-size: 16px;
          font-weight: bold;
          color: #343a40;
          margin-bottom: 5px;
        }
        
        .comment-rating {
          font-size: 14px;
          color: #868e96;
        }
        
        .comment-content {
          font-size: 14px;
          color: #495057;
          margin-top: 4px;
        }
        
        .comment-createDate {
          font-size: 12px;
          color: #adb5bd;
          margin-top: 4px; /* Adjust as needed */
        }
        
        .comment-userInfo:last-child {
          border-bottom: none;
        }
        


      }
    }
  }
    
    .right-wrapper {
      padding-right: 0;
      flex-basis: 34.333333%;
      max-width: 34.333333%;
      
    
      .right-wrapper-container{
        margin: 0 34px 20px auto;
        width: 332px;

      .lecture-button-card{
        position: sticky;
        top: 75px; // 화면 상단에서 얼마나 떨어져 있는지 지정합니다.
        border-radius: 8px;
        border: 1px solid #f1f3f5;
        box-shadow: 0 1px 3px 0 rgba(33,37,41,.03);
        background-color: #f8f9fa;
      
      .lecture-button-top {
        background-color: #ffffff; /* 배경색 */
        border: 1px solid #e9ecef; /* 테두리 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 그림자 */
        padding: 16px; /* 내부 여백 */
        display: flex;
        flex-direction: column;
        gap: 8px; /* 요소들 사이의 간격 */
    
        .lecture-price {
          font-size: 1.25rem; /* 가격 폰트 크기 */
          color: #343a40; /* 폰트 색상 */
          margin-bottom: 12px; /* 가격 아래 마진 */
        }
    
        button {
          background-color: #5094fa; /* 버튼 배경색 */
          color: #fff; /* 버튼 텍스트 색상 */
          border: none; /* 테두리 없음 */
          border-radius: 4px; /* 버튼 모서리 둥글기 */
          padding: 10px 16px; /* 버튼 내부 여백 */
          font-size: 1rem; /* 버튼 폰트 크기 */
          cursor: pointer; /* 클릭 가능하다는 것을 나타내는 마우스 커서 */
          transition: background-color 0.2s; /* 배경색 변화 애니메이션 */
    
          &:hover {
            background-color: #5094fa; /* 마우스 오버 시 배경색 */
          }
        }
    
        .lecture-add-cart {
          background-color: #00c471; /* '장바구니 담기' 버튼 배경색 */
          color: #fff; /* '장바구니 담기' 버튼 텍스트 색상 */
          margin-top: 8px; /* '장바구니 담기' 버튼 위 마진 */
    
          &:hover {
            background-color: #00c471; /* 마우스 오버 시 배경색 */
          }
        }
      }
    
      .lecture-button-bottom {
        background-color: #f8f9fa;
        border: 1px solid #e9ecef; /* 테두리 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* 그림자 */
        padding: 16px; /* 내부 여백 */
        font-size: 0.875rem; /* 텍스트 폰트 크기 */
        color: #495057; /* 텍스트 색상 */
        gap : 8px;
    
        p {
          display: flex;
          align-items: center; /* 아이콘과 텍스트 정렬 */
    
          .circle-icon {
            margin-right: 4px; /* 아이콘 오른쪽 여백 */
            font-size: 5px;
          }
        }
      }
    }
    }
  }
}
  
.star-ratings {
  color: #fff; 
  position: relative;
  unicode-bidi: bidi-override;
  width: max-content;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: rgb(255, 200, 7);
}
 
.star-ratings-fill {
  color: #fff58c;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-text-fill-color: rgb(255, 200, 7);
}
 
.star-ratings-base {
  z-index: 0;
  padding: 0;
}
  

