// font 
$font-family-roboto: 'Roboto', sans-serif;

// font colors
$color1: #5094fa;
$color2: #00c471;;
$color3: #495057;
$color4: #1e1e1e;
$color5: #4a4a4a;
$color6: #ff6b6b;

// font bold
$font-weight1: 700;
$font-weight2: 400;

// font size
$font-size1: 1.5rem;
$font-size2: 1rem;
$font-size3: 0.875rem;

// font line
$line-height1: 1.5;


