// style.scss
.home {
  font-family: 'Roboto', sans-serif; // 예시 폰트

  .banner-image {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
  }

  .search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  
    .search-input {
      border: 2px solid #ddd; // 경계선 색상 추가
      border-right: none; // 오른쪽 경계선 제거
      border-radius: 20px 0 0 20px;
      padding: 10px 20px;
      width: 500px;
      outline: none;
      background-color: #f9f9f9; // 입력 필드 배경색 변경
      color: #333; // 입력 텍스트 색상
  
      // 입력 필드에 텍스트가 입력되기 전의 상태
      &::placeholder {
        color: #aaa; // 플레이스홀더 텍스트 색상
      }
    }
  
    .search-button {
      border: 2px solid #ff9000; // 버튼 경계선 색상 조정
      border-radius: 0 20px 20px 0;
      padding: 10px;
      background-color: #ff9000; // 버튼 배경색
      cursor: pointer;
      outline: none;
  
      &:hover {
        background-color: darken(#ff9000, 10%); // 호버 시 버튼 색상 변화
      }
  
      svg {
        fill: white; // 검색 아이콘 색상
      }
    }
  }

  h5 { // 텍스트 디자인
    margin-bottom: 15px;
    font-weight: bold; // 제목 폰트 두께
    color: #333;
    margin-top: 80px;
  }

// 신규 강의 그리드 설정
.new-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

// 신규 카드 스타일
.new-courses .card {
  background-color: #fff; // 카드 배경색
  border-radius: 8px; // 카드 둥근 모서리
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 카드 그림자
  overflow: hidden; // 내용이 카드 크기를 넘어가지 않도록 처리
  transition: transform 0.3s ease; // 호버 효과를 위한 전환
  max-width: 100%;

  &:hover {
    transform: translateY(-10px); // 호버 시 카드가 올라오는 효과
  }
    // 카드 내 이미지 스타일
    .card-image {
      width: 100%; // 카드 너비에 맞춤
      height: 200px; // 고정 높이, 필요에 따라 조정
      object-fit: cover; // 이미지 비율 유지
    }
  
    // 카드 내용 스타일
    .card-content {
      padding: 15px; // 내부 패딩
      display: flex; // 자식 요소를 flex로 배치
      flex-direction: column; // 세로 방향 배치
      gap: 5px; // 요소 간격
  
      .card-title {
        font-size: 1rem; // 제목 폰트 크기
        font-weight: bold; // 제목 폰트 두께
        color: #333; // 제목 색상
        margin-bottom: 5px; // 제목 아래 여백
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 300px;
        height: 30px;
        white-space: nowrap;
      }
  
      .card-instructor {
        font-size: 0.85rem; // 강사 이름 폰트 크기
        color: #666; // 강사 이름 색상
      }
  
      .card-price {
        font-size: 1.25rem; // 가격 폰트 크기
        color: #ff6347; // 가격 색상
        font-weight: 500; // 가격 폰트 두께
        margin-top: auto; // 가격을 아래쪽으로 밀어냄
        }
      }
    }
}

// 인기 강의 그리드 설정
.popular-courses {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5px;
  margin-bottom: 20px;

}

/* popular-courses 클래스에 속하는 카드의 스타일 */
.popular-courses .card {
  background-color: #fff; // 카드 배경색
  border-radius: 8px; // 카드 둥근 모서리
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // 카드 그림자
  overflow: hidden; // 내용이 카드 크기를 넘어가지 않도록 처리
  transition: transform 0.3s ease; // 호버 효과를 위한 전환
  max-width: 100%;  
  /* 카드 크기를 조절하는 스타일 */
  width: 250px; /* 원하는 너비로 조정 */
  height: 200px; /* 높이는 자동 조정 */

  &:hover {
    transform: translateY(-10px); // 호버 시 카드가 올라오는 효과
  }

  /* 카드 내 이미지 스타일 */
  .card-image {
    width: 100%; // 카드 너비에 맞춤
    height: 100px; // 고정 높이, 필요에 따라 조정
    object-fit: cover; // 이미지 비율 유지
  }

  /* 카드 내용 스타일 */
  .card-content {
    padding: 15px; // 내부 패딩
    display: flex; // 자식 요소를 flex로 배치
    flex-direction: column; // 세로 방향 배치
    gap: 5px; // 요소 간격

    .card-title {
      font-size: 1rem; // 제목 폰트 크기
      font-weight: bold; // 제목 폰트 두께
      color: #333; // 제목 색상
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 300px;
      height: 30px;
      white-space: nowrap;
    }

    .card-instructor {
      font-size: 0.5rem; // 강사 이름 폰트 크기
      color: #666; // 강사 이름 색상
    }

    .card-price {
      font-size: 0.8rem; // 가격 폰트 크기
      color: #ff6347; // 가격 색상
      font-weight: 500; // 가격 폰트 두께
      margin-top: auto; // 가격을 아래쪽으로 밀어냄
    }
  }
}



  // 인기 강의 새로운 디자인 스타일
.popular-course-special {
  background-color: #f8c291; // 배경색
  border-radius: 15px; // 둥근 모서리
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;

  .emoji {
    font-size: 3rem; // 이모티콘 크기
  }

  .message {
    font-size: 1.2rem; // 메시지 텍스트 크기
  }

  .button {
    background-color: #ffafbd; // 버튼 배경색
    border: none;
    padding: 10px 20px;
    border-radius: 20px; // 버튼 둥근 모서리
    color: white;
    cursor: pointer;
  }
}

  .star-ratings { // 별점 디자인
    display: flex;
    align-items: center;

    .star-ratings-fill {
      color: #ffcd3c; // 별점 색상
    }

    .star-ratings-base {
      color: #ccc;
      position: absolute;
    }
  }



