

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; // 배경색은 이미지에 따라 조정해야 할 수 있습니다.
  padding: 10px;
  border-bottom: 1px solid white;
  box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.1);
  height: 30px;
  transition: all 0.3s; // 부드러운 전환 효과를 위해 추가


  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff; // 배경색을 지정하여 컨텐츠가 헤더 아래로 보이지 않도록 합니다.
    border-bottom: 1px solid #ddd;
  }


  .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo img {
    height: 40px; // 로고의 크기는 이미지에 따라 조정해야 할 수 있습니다.
    margin-right: 50px;
  }

  .drop-down {
    position: relative;
    display: inline-block; // 드롭다운을 인라인 블록으로 설정
    font-size: 0.9rem;
    appearance: none;
    
    &:hover {
      color: #4682B4;
    }
  
    &:hover .dropdown-content {
      display: block;
      appearance: none;
    }
  }
  
  .dropdown-toggle {
    padding: 10px 15px;
    background-color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 1000;
    min-width: 160px; // 메뉴의 최소 너비를 설정

    .dropdown-toggle::after {
      // 화살표를 제거합니다.
      content: none;
    }
    
    a {
      padding: 12px 16px;
      display: block;
      text-decoration: none;
      color: black;
      
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }

  .links {
    display: flex;
    align-items: center;
    margin-left: auto;

    .in-link {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 0.9rem;
      color: #333;
      h6 {
        margin: 0;
        font-weight: normal;
        font-size: 0.9rem;
      }
    }

    .up-link {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 0.9rem;
      color: #4682B4;
      h6 {
        margin: 0;
        font-weight: normal;
        font-size: 0.9rem;
      }
    }
  }
}
