.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; // 배경색은 이미지에 따라 조정해야 할 수 있습니다.
  padding: 10px;
  border-bottom: 1px solid white;
  box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.1);
  height: 30px;
  transition: all 0.3s; // 부드러운 전환 효과를 위해 추가


  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff; // 배경색을 지정하여 컨텐츠가 헤더 아래로 보이지 않도록 합니다.
    border-bottom: 1px solid #ddd;
  }


  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;

    .search-bar {
      display: flex;
      align-items: center;
      position: relative;
      background: #fff;
      border: 1px solid #dcdcdc;
      border-radius: 5px;
      padding: 5px; /* Adjust padding to align with the size of the search button */
      width: 100%;
      max-width: 550px;
      
      form {
        display: flex;
        width: 100%; /* Ensure the form takes the full width */
      }

      input {
        flex-grow: 1; /* Allow input to take up the remaining space */
        border: none;
        outline: none;
        padding: 1px; /* Padding to match the search bar's visual style */
        font-size: 16px;
        box-shadow: none;
        background: #f6f6f6;
        color: #5f5f5f;
        width: 100%; /* Full width of its parent form */
    
        &::placeholder {
          color: #a9a9a9;
          font-style: italic;
        }
      }
    }
  
      .search-button {
        position: absolute;
        right: 5px; /* Position adjusted to align with the padding of the search bar */
        border: none;
        background: none;
        cursor: pointer;
  
        svg {
          fill: black; // 검색 아이콘 색상
          width: 18px;
          height: 18px;
        }
      }
  
    .logo img {
      height: 40px; // 로고의 크기는 이미지에 따라 조정해야 할 수 있습니다.
    }
  
    .drop-down {
      position: relative;
      display: inline-block;
      font-size: 0.9rem;
    
      &:hover {
        color: #4682B4;
        
        .dropdown-content {
          display: block;
        }
      }
    }
    
    .dropdown-toggle {
      padding: 10px 15px;
      cursor: pointer;
      border: none;
      position: relative;
    
      &:after {
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        border-width: 0 2px 2px 0;
        padding: 3px;
        pointer-events: none;
      }
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      z-index: 1000;
      min-width: 160px;
      
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: -11px;
        left: 19px;
        z-index: 2;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
      
      &:before {
        border-bottom: 11px solid #fff;
      }
      
      &:after {
        top: -12px;
        border-bottom: 11px solid #ddd;
        z-index: 1;
      }
    
      .dropdown-title {
        padding: 12px 16px;
        color: #666;
        text-align: left;
        text-decoration: none;
        display: block;
        position: relative;
    
        &:hover {
          background-color: #fff;
          color: black;
          
          // Show the sub-dropdown content when hovering over the title
          .sub-dropdown-content {
            display: block;
          }
        }
      }
    
      .sub-dropdown-content {
        display: none; // Initially hide the sub-dropdown
        position: absolute;
        left: 100%; // Position to the right of the parent category
        top: 0;
        white-space: nowrap; // 서브 메뉴 아이템들이 줄바꿈 되지 않도록 설정
        min-width: 160px;
        background-color: #fff;
        border: 1px solid #ddd;
        margin-top: -1px;
    
        .sub-dropdown-title {
          padding: 10px;
          color: #666;
    
          &:hover {
            background-color: #fff;
            color: black;
          }
        }
      }
    }
    
  
    .links {
      display: flex;
      align-items: center; /* 요소들을 세로 방향으로 중앙에 배치합니다. */
      gap: 10px;
      
/* 로그인 버튼 */
.in-button {
  padding: 8px 16px;
  background-color: #5094fa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  cursor: pointer;
  /* 버튼이 너무 클 경우, flex-basis 속성을 사용하여 기본 크기를 설정하거나 max-width를 지정할 수 있습니다. */
  flex-basis: 100px; /* 기본 크기를 설정합니다. */
  max-width: 100px; /* 최대 너비를 설정합니다. */
}

/* 회원가입 버튼 */
.up-button {
  padding: 8px 16px;
  border: 1px solid #dddddd;
  background-color: #ff6b6b;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  /* 위와 같이 기본 크기와 최대 너비를 설정합니다. */
  flex-basis: 100px;
  max-width: 100px;
  margin-left: 10px;
}

  .in-button{
    color: #fff;
  }
  /* 회원가입 버튼 스타일 */
  .up-button {
    color: #fff; /* 텍스트 색상을 흰색으로 설정합니다 */
    background-color: #ff6b6b; /* 배경색을 설정합니다 */
  }

// 프로필 드롭다운 버튼 스타일
.profile {
  align-items: center;
  margin-left: auto; // 드롭다운 내용을 위한 상대적 위치
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  


  .usericon {
    border-radius: 50%; // 아이콘을 원형으로 만듬
    width: 30px; // 아이콘 크기 설정
    height: 30px; // 아이콘 크기 설정
    border: 1px solid #e9ecef;
  }

  &:hover {
    .profile-dropdown {
      display: block; // 마우스 오버시 드롭다운 표시
    }
  }
}

.profile-dropdown {
  display: none; // 기본적으로 숨김
  position: absolute;
  top: 115%; // 버튼 바로 아래에 위치
  right: 0;
  background-color: #fff; // 배경색
  border: 1px solid #ccc; // 테두리
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); // 그림자 효과
  width: 200px; // 너비 설정
  z-index: 1000; // 다른 요소들 위에 표시
  padding: 10px; // 내부 여백 추가
  box-sizing: border-box; // 패딩을 너비에 포함

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: -10px; /* 삼각형 높이의 두 배 값으로 설정하되, 적절히 조정해야 할 수 있음 */
    right: calc(50% - 87px); /* 드롭다운 너비의 절반에서 삼각형의 너비 절반 값을 빼줌 */
  }
  
  &:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ccc; /* 테두리 색상 */
    z-index: 0;
  }
  
  &:after {
    border-left: 9px solid transparent; /* border가 더 작아서 테두리가 보이도록 */
    border-right: 9px solid transparent; /* border가 더 작아서 테두리가 보이도록 */
    border-bottom: 9px solid #fff; /* 배경 색상 */
    top: -9px; /* :before보다 조금 아래에 위치 */
    z-index: 1;
  }
  

  .user-info {
    display: flex;
    align-items: center; /* 가로 방향으로 중앙 정렬 */
    margin-bottom: 10px; /* 아래쪽 항목과의 간격 조정 */
  }
  
  .dropdown-profile-container {
    display: flex;
    align-items: center; /* 가로 방향으로 중앙 정렬 */
  }
  
  .user-profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px; /* 이미지와 정보 사이 간격 조정 */
  }
  
  .dropdown-profile-info {
    display: flex;
    flex-direction: column; /* 수직 쌓기 활성화 */
    align-items: flex-start; /* 텍스트 왼쪽 정렬 */
  }
  
  .dropdown-profile-nickname,
  .dropdown-profile-email {
    margin: 0; /* 기본 마진 제거 */
  }
  
  .dropdown-profile-nickname {
    font-weight: bold; /* 닉네임 볼드 처리 */
  }
  
  .dropdown-profile-email {
    font-size: 0.8rem; /* 이메일 폰트 사이즈 */
    color: #777; /* 이메일 폰트 색상 */
  }
  
  .dropdown-item {
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로로 쌓음 */
    align-items: center; /* 수직 방향으로 중앙 정렬 */
    padding: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  
  .dropdown-mypage, .dropdown-logout {
    font-size: 0.9rem;
    color: #333;
    text-align: center; /* 텍스트 중앙 정렬 */
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; /* 수평 방향으로 중앙 정렬 */
    text-decoration: none;
    background-color: transparent;
    border: none;
    box-shadow: none;
    width: 100%; /* 부모 요소의 전체 너비를 차지하도록 설정 */
    margin-top: 5px;
    gap: 5px;
    transition: background-color 0.3s; /* 호버 효과에 애니메이션을 적용 */
  }

  .dropdown-mypage:hover, .dropdown-logout:hover {
    background-color: #f8f9fa; /* 호버 시 배경색 변경 */
  }
  
  .dropdown-mypage {
    margin-bottom: 5px; /* 마이페이지와 로그아웃 버튼 사이의 여백 */
  }
  
  .dropdown-logout {
    cursor: pointer;
    outline: none;
  }
}

.cart-button {
  width: 32px; // 아이콘 크기 설정
  height: 32px; // 아이콘 크기 설정
  border: 1px solid #e9ecef;
  background: none;
  border-radius: 50%; // 원형 테두리를 만들기 위해
  cursor: pointer;
  display: inline-flex; // SVG 아이콘을 가운데 정렬하기 위해
  align-items: center; // 수직 가운데 정렬
  justify-content: center; // 수평 가운데 정렬
  padding: 5px; // 테두리와 아이콘 사이의 공간
  margin-right: 10px; // 다른 요소와의 간격
  transition: background-color 0.3s, transform 0.3s; // 배경색과 변형에 대한 부드러운 전환 효과
  background-color: #525463;

  &:hover {
    background-color: #525463; // 호버 시 배경색 변경
  }

  svg {
    fill: #fff; // 아이콘 색상 설정
    width: 20px; // 아이콘 크기 설정
    height: 20px; // 아이콘 크기 설정
    }
  } 
}


  }
}