.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff; // 배경색은 이미지에 따라 조정해야 할 수 있습니다.
  padding: 10px;
  border-bottom: 1px solid white;
  box-shadow: 0 8px 6px -7px rgba(0, 0, 0, 0.1);
  height: 30px;
  transition: all 0.3s; // 부드러운 전환 효과를 위해 추가


  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff; // 배경색을 지정하여 컨텐츠가 헤더 아래로 보이지 않도록 합니다.
    border-bottom: 1px solid #ddd;
  }


  .container {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .search-bar {
      display: flex;
      align-items: center;
      position: relative;
      background: #fff; // White background for the search bar
      border: 1px solid #dcdcdc; // Light grey border, adjust the color as needed
      border-radius: 5px; // Increased border radius for a more rounded look
      padding: 5px 10px; // Padding adjusted for visual balance
      width: 100%; // Full width of the parent container
      max-width: 550px; // Max width can be adjusted as needed
      margin-left: auto;

  
      input {
        flex-grow: 1;
        border: none;
        outline: none;
        padding-right: 30px; // Space for the search icon
        font-size: 16px; // Adjust the font size as needed
  
        &::placeholder {
          color: #a9a9a9;
          font-style: italic; // Often placeholder text is styled italic
        }
      }
    }
  
      button {
        position: absolute;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
  
        svg {
          fill: black; // 검색 아이콘 색상
        }
      }
  
    .logo img {
      height: 40px; // 로고의 크기는 이미지에 따라 조정해야 할 수 있습니다.
      margin-right: 50px;
    }
  
    .drop-down {
      position: relative;
      display: inline-block; // 드롭다운을 인라인 블록으로 설정
      font-size: 0.9rem;
      appearance: none;
  
      &:hover {
        color: #4682B4;
      }
  
      &:hover .dropdown-content {
        display: block;
        appearance: none;
      }
    }
  
    .dropdown-toggle {
      padding: 10px 15px;
      background-color: #fff;
      cursor: pointer;
      border: none;
      position: relative; // 화살표 아이콘을 위한 상대적 위치 설정
  
      &:after {
        // 드롭다운 화살표 아이콘 추가
        content: '';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        border-width: 0 2px 2px 0;
        padding: 3px;
        pointer-events: none; // 아이콘이 클릭 이벤트를 받지 않도록 설정
        transform: rotate(45deg); // 화살표 아이콘을 45도 회전
        // 화살표 색상과 크기를 조정하려면 여기서 변경하세요.
      }
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      z-index: 1000;
      min-width: 160px;
      border-radius: 4px; // 드롭다운의 둥근 모서리
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1); // 드롭다운에 그림자 효과 추가
  
      &:before {
        content: "";
        position: absolute;
        top: -11px; // 내부 삼각형의 상단 위치를 조정하세요
        left: 19px; // 내부 삼각형의 좌측 위치를 조정하세요
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 11px solid #fff; // 내부 삼각형의 색은 드롭다운 배경색과 일치해야 합니다.
        z-index: 2;
      }
    
      &:after {
        content: "";
        position: absolute;
        top: -12px; // 테두리 삼각형의 상단 위치는 내부 삼각형보다 1px 더 위로
        left: 18px; // 테두리 삼각형의 좌측 위치는 내부 삼각형보다 1px 더 좌측으로
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid #ddd; // 테두리 삼각형의 색상을 원하는 테두리 색으로 설정
        z-index: 1;
      }
  
      a {
        padding: 12px 16px;
        display: block;
        text-decoration: none;
        color: black;
  
        &:hover {
          background-color: #f7f7f7; // 호버 시 배경색 변경
        }
      }
    }
  
    // 드롭다운이 보이게 하는 토글 스타일
    .drop-down:hover .dropdown-content {
      display: block; // 마우스 오버 시 드롭다운 내용 표시
    }
  
    .links {
      display: flex;
      align-items: center;
      margin-left: auto;
  
      .in-link {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 0.9rem;
        color: #333;
        h6 {
          margin: 0;
          font-weight: normal;
          font-size: 0.9rem;
        }
      }
  
      .up-link {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 0.9rem;
        color: #4682B4;
        h6 {
          margin: 0;
          font-weight: normal;
          font-size: 0.9rem;
        }
      }
    }

// 프로필 드롭다운 버튼 스타일
.profile {
  align-items: center;
  margin-left: auto; // 드롭다운 내용을 위한 상대적 위치
  background: none;
  border: none;
  cursor: pointer;

  .usericon {
    border-radius: 50%; // 아이콘을 원형으로 만듬
    width: 30px; // 아이콘 크기 설정
    height: 30px; // 아이콘 크기 설정
  }

  &:hover {
    .profile-dropdown {
      display: block; // 마우스 오버시 드롭다운 표시
    }
  }
}

// 프로필 드롭다운 내용 스타일
.profile-dropdown {
  display: none; // 기본적으로 숨김
  position: absolute;
  top: 100%; // 버튼 바로 아래에 위치
  right: 0;
  background-color: #fff; // 배경색
  border: 1px solid #ccc; // 테두리
  border-radius: 5px; // 둥근 테두리
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); // 그림자 효과
  width: 200px; // 너비 설정
  z-index: 100; // 다른 요소들 위에 표시

  .user-info {
    padding: 10px;
    border-bottom: 1px solid #ccc; // 하단 테두리

    .user-profile-image {
      width: 50px; // 프로필 이미지 크기
      height: 50px; // 프로필 이미지 크기
      border-radius: 50%; // 이미지 원형으로 표시
      margin-bottom: 10px; // 하단 여백
    }

    .dropdown-profile-info {
      .dropdown-profile-nickname {
        font-weight: bold; // 닉네임 볼드 처리
      }

      .dropdown-profile-email {
        font-size: 0.8rem; // 이메일 폰트 사이즈
        color: #777; // 이메일 폰트 색상
      }
    }
  }

  .dropdown-item {
    padding: 10px;
    font-size: 0.9rem;
    color: #333;
    text-align: left; // 텍스트 왼쪽 정렬

    &:hover {
      background-color: #f7f7f7; // 호버시 배경색 변경
    }
  }

  .dropdown-hr {
    margin: 0; // 마진 제거
  }
}

cart-button {
  background: none;
  border: 2px solid #333; // 테두리 색상과 두께를 원하는 대로 설정
  border-radius: 50%; // 원형 테두리를 만들기 위해
  cursor: pointer;
  display: inline-flex; // SVG 아이콘을 가운데 정렬하기 위해
  align-items: center; // 수직 가운데 정렬
  justify-content: center; // 수평 가운데 정렬
  padding: 5px; // 테두리와 아이콘 사이의 공간
  margin-right: 20px; // 다른 요소와의 간격
  transition: background-color 0.3s, transform 0.3s; // 배경색과 변형에 대한 부드러운 전환 효과

  &:hover {
    background-color: #f2f2f2; // 호버 시 배경색 변경
    transform: scale(1.1); // 호버 시 아이콘 확대
  }

  svg {
    fill: #333; // 아이콘 색상 설정
    width: 20px; // 아이콘 크기 설정
    height: 20px; // 아이콘 크기 설정
  }
}
    
  }
}
