
// mypage 기본틀 
.profile-page{
  width: 100%;

.profile-content {
  display: flex;
  width: 100%;
  max-width: 900px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px; 
  padding: 20px;
  margin: auto;
  margin-top: 30px;
}

.profile-image-container {
  flex-basis: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.btn-upload {
  background-color: #5094fa;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

.upload-instructions {
  font-size: 0.85rem;
  color: #6c757d;
  margin-bottom: 10px; // Increased bottom margin to separate from the button
}

.profile-info {
  flex-basis: 60%;
  padding-left: 20px;
  border-left: 1px solid #f1f3f5;
  flex-direction: column;
  display: flex;
}

.input-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  color: #666;
}

.input-field-n {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-field-e {
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #ddd;
}

.email-message {
  color: #dc3545;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

  .btn-save{
    background-color: #00c471;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
  }
  
  .btn-save:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }


h5 {
  margin-top: 0;
  margin-bottom: 10px; // 제목과 내용 간격
  margin-left: auto;
}

span{
  font-size: 0.9rem;
    color: #666;
    margin-bottom: 10px;
}

// 닉네임 및 프로필 변경 scss

.profile-password-change {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  
  .password-input-group {
    padding-right: 20px;
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 10px;
      font-size: 1rem;
      font-weight: 400;
      color: 1b1c1d;
    }

    input[type='password'] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ced4da;
      border-radius: 4px;
      font-size: 1rem;
    }
  }

  .btn-password-change {
    background-color: #00c471;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .btn-password-change:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

  h5 {
    margin-top: 0;
    margin-bottom: 10px; // 제목과 내용 간격
  }
}

.account-deletion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: #fff;
  
  h5 {
    font-size: 1.2rem;
    display: inline; // h5 태그를 인라인 요소로 만듦
    color: #dc3545
  }
  
  .deletion-warning {
    margin-top: 20px; // 유의사항 부분과의 간격
    padding: 15px;
    border-radius: 4px; // 경고 메시지 테두리 둥글기
    text-align: justify; // 텍스트 정렬
  }

  .divider {
    position: relative; // 가상 요소의 위치를 설정하기 위해 relative 설정
    margin: 20px 0; // 위아래 마진으로 간격 조정
    text-align: center; 
    
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%; // 선을 텍스트 중간에 위치
      width: 40%; // 선의 길이를 40%로 설정
      height: 1px; // 선의 두께
      background: #721c24; // 선의 색상
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
    }
  }

  .btn-delete-account {
    display: block;
    width: 100%; // 버튼의 너비를 100%로 설정
    margin-top: 30px; // 버튼의 상단 마진
    padding: 10px 0; // 버튼의 상하 패딩
    background-color: #dc3545; // 버튼 배경 색
    color: white; // 버튼 텍스트 색
    border: none;
    border-radius: 4px; // 버튼 테두리 둥글기
    cursor: pointer;
    transition: background-color 0.2s; // 배경 색상 변화 애니메이션

    &:hover {
      background-color: #c82333; // 호버 시 버튼 배경 색 변경
    }
    &:disabled {
      background-color: #cccccc; // 비활성화 상태의 배경색 설정
      cursor: not-allowed; // 비활성화 상태의 커서 스타일 설정
    }
  }

  .checkbox-agreement {
    display: flex;
    align-items: center;
    margin-top: 20px; // 체크박스 위의 간격 조정
  }

          /* 체크박스 기본 스타일 초기화 */
          input[type="checkbox"] {
            -webkit-appearance: none; /* 크롬, 사파리 */
            -moz-appearance: none; /* 파이어폭스 */
            appearance: none; /* 표준 */
            /* 공통 스타일 */
            display: inline-block;
            width: 20px; /* 원하는 너비 */
            height: 20px; /* 원하는 높이 */
            background: #fff; /* 배경색 */
            border: 1px solid #d5dbe2; /* 테두리색 */
            border-radius: 4px; /* 둥근 모서리 */
            cursor: pointer; /* 마우스 오버 포인터 */
            vertical-align: middle; /* 수직 정렬 */
            position: relative; /* 상대적 위치 */
          }
  
          /* 체크박스 체크 시 스타일 */
          input[type="checkbox"]:checked {
            background: #5094fa; /* 체크 시 배경색 */
          }
  
          /* 체크 표시 스타일 */
          input[type="checkbox"]:checked::after {
            content: '✔'; /* 체크 표시 */
            color: #fff; /* 체크 표시 색상 */
            position: absolute; /* 절대적 위치 */
            top: 50%; /* 상단에서 50% 위치 */
            left: 50%; /* 왼쪽에서 50% 위치 */
            transform: translate(-50%, -50%); /* 정확한 중앙으로 이동 */
            font-size: 14px; /* 체크 표시 크기 */
          }

  }
}