  .mypage {
    max-width: 100%;

    .mypage-header {
      border-bottom: 1px solid #f1f3f5;

      .mypage-header-content{
        display: flex; /* Flex 컨테이너를 활성화 */
        align-items: flex-start; /* 세로 시작점 정렬 */
        max-width: 1200px; /* 최대 너비 설정 */
        margin: auto; /* 자동 마진으로 중앙 정렬 */
        padding: 20px;
        align-items: center;
  
        .profile-img {
          width: 100px;
          border-radius: 50%;
          height: 100px;
          margin-right: 20px;
        }

        .profile-name {
          color: #333;
    font-size: 1.5rem;
        }
      }
    }

    .mypage-card {
      border-bottom: 1px solid #f1f3f5;
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px; /* 높이는 사진에 맞게 조절 */
      
      .mypage-card-button {
        display: flex; /* Flexbox를 사용하여 내부 요소들을 가로로 나열 */
        padding-left: 0; /* 기본 ul의 패딩 제거 */
        margin: 0;
        list-style: none;
        width: 1200px;
        justify-content: flex-start;
    
        li {
          padding: 10px 0px; /* 내부 패딩 */
          margin-right: 20px;
          cursor: pointer; /* 마우스 커서를 포인터로 변경 */
          transition: background-color 0.3s; /* 배경색 변경에 대한 트랜지션 적용 */
          text-align: center; /* 텍스트 중앙 정렬 */
          position: relative;
          
          &.active {
            color: #1b1c1d;
            font-weight: 700;
  
            span {
              color: #1b1c1d; /* 활성화된 a 태그의 텍스트 색상 변경 */
            }
          
            &::after {
              content: '';
              position: absolute;
              bottom: -6px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: #1b1c1d; /* 활성 탭의 밑줄 색상 */
            }
          }
          
          span {
            text-decoration: none;
            color: #abb0b5;
            font-size: 1rem;
            font-weight: 400;
    
            &:hover {
              color: #000;
            }
          }
        }
      }
    }

    .mypage-content-container {
      display: flex; /* Flex 컨테이너를 활성화 */
      align-items: flex-start; /* 세로 시작점 정렬 */
      max-width: 1200px; /* 최대 너비 설정 */
      margin: auto; /* 자동 마진으로 중앙 정렬 */
      padding: 20px;
      margin-top: 30px;
    }
  }